name: Prevent creation of branches starting with 'testing/'
on:
  push:
    branches:
      # Include all branches except those starting with 'testing/'
      - "!testing/*"
jobs:
  check_branch_name:
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name
        run: |
          if [[ ${{ github.ref }} == "refs/heads/testing/"* ]]; then
            echo "Branch names starting with 'testing/' are not allowed."
            exit 1
          fi
