name: Fail when incorrect branch names are used
on:
  push:
    branches:
    - 'release*'
    - 'release*/**'

jobs:
  check_branch_name:
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name
        run: |
          echo "branch created ${{ github.event.ref }}"
          echo "Branch names starting with 'release/' are not allowed."
          exit 1
