name: Fail when incorrect branch names are used
on:
  push:
    branches:
    - 'release*'
    - 'release*/**'

jobs:
  check_branch_name:
    runs-on: ubuntu-latest
    steps:
      - name: clone repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.repository.default_branch }}
      - name: Check branch name
        run: |
          echo "branch created ${{ github.event.ref }}"
          echo "default branch is ${{ github.event.repository.default_branch }}"
          git status
          VARIABLE=$(echo ${{ github.event.ref }} | sed  -e 's#refs/heads/##g')
          echo "Branch names starting with 'release/' are not allowed, erasing it."
          git branch -d $VARIABLE
          exit 0
